.textbox
{
    width:100%;
    float:right;
    margin: 5px 0px 5px 0px;
}

th {
    background-color: #FC7955;
    color: white;
} 
.error-message-pera{
	color: #A90329;
	text-align: center;
	font-size: 20px;
}

.coll-info
{
    font-size: 16px;
    float: right;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}
.summary
{
	margin-top: 3%;
}
.hadder-message{
	text-align: center;
	font-size: 30px;
	background-color: #FC7955;
	color: white;
	margin-bottom: 0px;
}
