.form-field, .field{
    @apply w-full
}

@screen dt {
    .form-field, .field{
        @apply w-full
    }

    .desktop-w-full{
        @apply w-full !important   
    }
}

employee-form-first {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    flex-direction: column;
}
