
.loginFormStyleEmployee {

  .employeeCard {
   margin-top: 0px;
 
    .submit-bar {
      @apply w-full;
  
      height: 2rem !important;
     
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 32px;
      padding-right: 32px;
    }
    .employeeCard 
      .submit-bar .submit-bar header
      {
        line-height: 2rem !important;
        font-size: 16px; 
        background-color: #2947A3;
        border-radius: 8px;
        align-content: center;
        
      }
  }
}
.banner .bannerCard{
  min-width: 420px !important;
  background-color: transparent;
}
.employeeForgotPassword .employeeCard .field .field-container .component-in-front {
  border: 1px solid;
  border-right: none;
  height: 32px !important;
  margin-top: -16px !important;
  z-index: 999;
  background-color:#ffffffeb;
}
@screen dt {
  .employeeForgotPassword .employeeCard .field .field-container .component-in-front {
    
    border-right: none;
    height: 32px !important;
    margin-top: -16px !important;
    z-index: 999;
    background-color: #ffffffeb;

  }
 .loginFormStyleEmployee .employeeCard, .banner .bannerCard{
    min-width: 270px !important;
   
    background-color: #ffffffff !important;
    


    
  }
  .employeeForgotPassword .employeeCard, .employeeChangePassword .employeeCard{
    max-width: 270px !important;
    min-width: 270px !important;
    background-color: #ffffffeb
  }
}

.employeeForgotPassword .employee-card-input {
  margin-bottom: 0px;
  border-left: none;
}

.employeeForgotPassword .field-container {
  margin: 10px 0;
}
.employeeForgotPassword {
  .submit-bar {
    @apply w-full;
    background-color: #5a1166 !important;
  }
}
.employeeChangePassword .submit-bar {
  width: 100% !important;
}
.employeeChangePassword .card-text {
  text-align: center;
}
.employeeChangePassword .input-otp-wrap {
  text-align: center;
}
.submit-bar {
  .submit-bar {
    @apply w-full;
   
  }
}
.loginFormStyleEmployee .bannerHeader p,
.employeeForgotPassword .bannerHeader p,
.employeeChangePassword .bannerHeader p {
  font-size: 19px;
}
.employeeCard .card-sub-header {
  font-size: 24px;
}
.loginFormStyleEmployee .employeeCard .card-label, .employeeForgotPassword .employeeCard .card-label{
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 21px !important;
  color: #232323;
  z-index: 10 !important;
   font-family: "Roboto", serif;;


 
  
}

.employeeCard .card-label{
  font-weight: 400;
  font-size: 16px;
  line-height: 21.7px;
  color: #232323;
   font-family: "Roboto", serif;;
}
.profile-label-margin{
   margin-top: 10px;
}
.loginFormStyleEmployee .primary-label-btn{
  font-size: 12px;

}
.employeeForgotPassword .employeeCard .card-label-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #505a5f;
  margin-top: 15px;
}
.employeeChangePassword .employeeCard .card-text {
  margin-bottom: 15px;
  font-size: 16px;
  color: #505a5f;
}
.employeeCard .card-label{
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 21.7px !important;
  color: #232323;
  font-family: "Noto Sans,sans-serif";
  
}
@media screen and (max-width: 768px) {
  .employeeChangePassword .employeeCard .card-text {
    margin-top: 7px;
  }
  .employeeCard .card-sub-header {
    font-size: 18px;
  }
}
.employeeChangePassword .employeeCard .card-text-button {
  text-align: center !important;
  margin-bottom: 12px !important;
}
.employeeChangePassword .employeeCard .input-otp-wrap {
  margin-bottom: 10px;
}
.employee .loginContainer {
  padding-top: 0px !important;
}
.banner {
  height: calc(100vh ) !important;
}

.employeeChangePassword .employeeCard .field .field-container{
  margin-bottom: 24px;
}
.upyog-copyright-footer-web
{
  display: none;
}
.employeeForgotPassword .employeeCard  .employee-card-sub-header, .employeeChangePassword .employeeCard  .employee-card-sub-header, .loginFormStyleEmployee .employeeCard .employee-card-sub-header{
  font-size: 24px !important;
  line-height: 28px !important;
  margin-bottom: 0px !important;
}
@media screen and (max-width : 768px){
  .employeeForgotPassword .employeeCard  .employee-card-sub-header, .employeeChangePassword .employeeCard  .employee-card-sub-header, .loginFormStyleEmployee .employeeCard .employee-card-sub-header{
    font-size: 18px !important;
    line-height: 21px !important;
    margin-bottom: 0px !important;
    z-index: 10 !important;
  }
  .loginFormStyleEmployee .employeeCard, .banner .bannerCard{
   min-width: 270px !important;
    z-index: 10 !important;
    background-color: #ffffffff !important;
    margin-top: 0 !important;


   

  }
  .employeeForgotPassword .employeeCard, .employeeChangePassword .employeeCard{
    max-width: 250px !important;
    min-width: 250px !important;
    margin-top: -50% !important;
    background-color: #ffffffeb;
  }
}
.employeeChangePassword .employeeCard .card-text{
  margin-top: 18px !important;
  margin-bottom: 20px !important;
}
.employeeBackbuttonAlign{
  display: none;
}
.employee-select-wrap .select{
  height: 2.0rem !important;
  background-color: white !important;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #b4b4b4;
}
.employee-select-wrap.login-city-dd {
  .options-card{
  max-height: 150px;
  }
}
.banner .bannerCard, .loginFormStyleEmployee .employeeCard{
  background-color: #FFFFFF;

  margin-top: 0px;
  margin-left: 418px;
  height: 400px;
  width: 400px;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 8px;
}

.langSelection{
    width: 30% !important;
  margin: 0px;
    padding:2rem;
}

@media screen and (max-width: 768px){
  .employeeBackbuttonAlign{
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .banner{
    padding-bottom: 40px;
    height: 100vh !important;
    z-index: 1;
  }
  .topbar{
    background: white;
  }
  .employee .loginContainer{
    padding-top: 0px !important;
  }
  .removeBottomMargin{
    margin-bottom: 0px !important;
  }
  .employee-select-wrap.login-city-dd {
    .options-card{
    max-height: 160px;
    }
  }
  .banner .upyog-copyright-footer
  {
    display: none;
  }
  .banner .upyog-copyright-footer-web
  {
    display: block;
  }
}
@media screen and (max-width:900px) {

  .loginFormStyleEmployee .employeeForgotPassword
  {
    margin-top: -50% !important;
    background-color: #ffffffeb !important;
    z-index: 2;
  }
  .psuedo-banner{
    font-size: 20px;
  }
  .banner-slogan{
    font-size: 14px;
  }
  .loginFormStyleEmployee, .employeeForgotPassword{
    margin-top: -30% !important;
   
  }
}
.employeeForgotPassword{
  z-index: 2;
}


.loginnew{
  margin-top: -288px;
  background-color: #FFFFFF;
}
.appbar{
  display: flex;
  width: 100%; /* Full-width */
  background-color: #294A97; /* Dark-grey background */
  overflow: none;
  box-sizing: border-box;
}
.appbar-container{
  display: flex;
  width: 1300px;
  max-width: 100%;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  padding: 0.8rem; 
  color: #FFF;
}
.appbar-box-left{
  display: flex;
  width: 50%;
  margin: auto;
  padding: 0px;
}
.appbar-box-right{
  display: flex;
  width: 50%;
  margin: auto;
  padding: 0px;
}

@media screen and (max-width :768px) {
  .appbar-container{
    flex-direction: column;
  }
  .appbar-box-right{
    display: none;
  }
}




.topHeader{
  display: flex;
  width: 100%; /* Full-width */
  background-color: #FFF; /* Dark-grey background */
  overflow: none;
  box-sizing: border-box;
}
.topHeader-container{
  display: flex;
  width: 1300px;
  max-width: 100%;
  flex-direction: row;
  margin: auto;
  padding: 2rem 0; 
  color: #000;
}
.topHeader-box-left{
  width: 30%;
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
}
.topHeader-box-center{
  width: 30%;
  display: flex;
  align-items:center;
  justify-content: center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  ul li{
    display: inline;
    padding: 0.75rem 1rem;

  }
}
.topHeader-box-right{
  width: 30%;
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
}
.heroSection{
  width: 100%;
  max-height: 508px;
  margin: auto;
  padding: 0;
  background: #294A9733;
  img{
    width: 100%;
    object-fit: cover;
    opacity: 0.75;
    max-height: 508px;
  }
}
.loginpic{
  margin-top: 50px;
  height: '300px';
  width: 100%;
  
  position: absolute; 

} 
.loginContainernew{
  height: 100px;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  /* margin-top: 10px; */
  display: flex;
}
.loginFormStyleEmployeeNew {
  box-shadow: 0 1px 4px 0 #505a5f60;
  width :40%;
  background-color: #fff;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: -90px;
}
@media screen and (max-width : 1024px) and (min-width:468px) {
  .loginFormStyleEmployeeNew{
    width: 60%;
    padding: 2rem;

  }
}
@media screen and (max-width : 467px) {
  .loginFormStyleEmployeeNew{
    width: 80%;
    padding: 1rem;

  }
}
.employeeCardNew{
  box-sizing: border-box;
  margin-bottom: 0px;
  width: 100%;
  margin-left: 0px;
 
  background-color: #FFFFFF;
}
.headerStyle{
  font-family: "Roboto", serif;
  font-weight: 700;
  text-align: left;
  font-size: 36px;
  line-height: 42px;
}
.descStyle{
 font-family: 'Roboto';
 font-weight: 400;
 color: #8F8F8F;
 text-align: left;
 line-height: 21.09px;
 padding: 0.5rem 0rem 2rem 0rem;
}
.labelStyle{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: #232323;
  line-height: 21.79px;
}
.footer{
  display: -webkit-box;
  box-sizing: border-box;
  width: '100%';
  position: 'fixed';
  bottom: 0;
  background-color:"#152265";
  text-align:"center";
  color:white;
  margin-top: 170px;
  border:1px solid black
}
.footerText{
  display: 'flex';
   justify-content: 'center';
    color:"white" ;
  background-color: #152265;
  width: 100%;
    text-align: center;
}
.footerContainer{
  box-sizing: border-box;
  height: 200px;
  background-color: #294A97;
  width:100%;
  border-top: 2px solid #294A97;
    text-align:'center';
    color: 'white';
    margin-top: 0px;
   

}
.cityCss{
  border-radius: 8px;
}
.fieldNew{
  border-radius: 8px;
}
.submitButtonNew{
  background-color: #2947A3;
  height: 3rem;
  text-align: center;
  outline: 2px solid transparent;
    outline-offset: 2px;
    width: 100%;
   /* width: 330px; */
   padding: 0.8rem 0rem;
    box-sizing: content-box;
    height: 20px;
    border-radius: 8px;
    color: #FFFFFF; 
}

.body-container-new{
  background-color: white;
}
.background-login{
  position: absolute;
    height: 100%;
    width: 100%;
  
}
.footerLinks{
  box-sizing: border-box;
  background-color: #F5FBFF;
  height: 40px;
  width:100%;
  justify-content: space-between;
  display: -webkit-box;
  padding-top: 30px ;
  padding-left: 164px ;
  padding-right: 164px;
  padding-bottom: 60px;
} 
.footerCont{
  box-sizing: border-box;
  height: auto;
  width:100%;
  display: -webkit-box;
  background-color: #294A97;
  border-top: 2px solid #294A97;
}



 