.cardHeaderWithOptions{
    @apply flex flex-row justify-between;
    align-items: center;
    .multilinkWrapper{
        @apply relative;
        .multilink-labelWrap{
            position: unset;
            @apply flex z-10 items-center align-middle text-center m-md;
        }
        .multilink-optionWrap{
            top: 32px;
            right: 0%;
        }
    }
}

