.key-note-pair {
  @apply mb-md;

  h3 {
    margin-bottom: 4px;
    @apply font-bold text-text-primary text-heading-s;
    color: #000;
  }

  p {
    @apply text-text-primary text-body-l;
    color: #000;
  }
  
  .caption {
    @apply text-body-l text-text-secondary;
  }
}

@screen dt {
  .key-note-pair {
    p {
      @apply text-body-l-dt;
    }
    .caption {
      @apply text-body-l-dt text-text-secondary;
    }
  }
}
