.popup-wrap {
  background: rgba(0, 0, 0, 0.7);
  @apply flex  fixed w-full h-full overflow-auto top-0 left-0 min-h-screen;
  z-index: 10000;
}

@screen dt {
  .popup-wrap {
    background: rgba(0, 0, 0, 0.7);
    @apply min-h-screen;
  }
}

.popup-close-icon{
  @apply flex justify-end;
}

.popup-content {
  @apply bg-white rounded-sm max-w-3xl overflow-hidden text-justify overflow-y-auto leading-relaxed;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
              0 4px 6px -2px rgba(0,0,0,0.05); 
  padding: 1.5rem; 
  max-height: 80%; 
}