.searchBox {
  @apply flex m-sm justify-between;
  .searchAction {
    position: relative;
    @apply flex flex-row text-focus;
    .searchText {
      @apply ml-sm;
    }
  }
}

.svgPrimaryH16px{
  svg{
    width: 18px;
    @apply h-6;
    path{
      fill: #a82227;
    }
  }
}

.obps-search-application-container{
  margin-top: 24px;
}
.obps-autocomplete-font-size{
  font-size: 14px;
}
