.citizen-home-footer {
  @apply flex  w-full  h-10 bg-grey-bg pb-md pt-sm justify-center;
  img {
    @apply ml-sm;
  }
}

.employee .citizen-home-footer {
  @apply fixed bottom-0;
}
.fill-path-primary-main {
  path {
    fill: #1359C8;
  }
}

.obps-search {
  margin: 8px;
}
.font-Weigth-bold {
  font-weight: 600 !important;
      margin-top: 20px !important;
}

.obps-citizen-search-header{
  background:#ffffff;
  padding: 20px 0px;
  color: #00000099;
  padding: 10px;
}
.obps-citizen-card-paragraph{
  text-align: center;
}