.pgr-desktop-inbox-container {
  
  .pgr-desktop-card-empty-state,
  .pgr-desktop-card-error-state {
    margin-top: 20px !important; 
   
  }

  .pgr-desktop-card-text-align{
text-align: center !important;
  }

  .pgr-desktop-inbox-content-wrapper {
    flex: 1;

    .pgr-desktop-inbox-result-container {
      margin-top: 24px;
      margin-left: 24px;
      flex: 1;
      background-color: #fff;
    }
  }
}

.pgr-desktop-complaint-table {
  width: -webkit-fill-available;
  .pgr-timeline-cell {
    padding: 20px 18px !important;
    font-size: 16px !important;
  }

  .pgr-timeline-large-cell {
    min-width: 240px !important;
  }
}

.pgr-complaintDetails-headerTimeline-spaceclass{
  display:flex;
  justify-content:space-between;
  align-items:baseline
}
.pgr-complaintDetails-viewTimeline-link{
  margin-left:auto; 
  color:#A52A2A;
  color: black
}
.pgr-complaintdetils-overflowX{
  overflowX:scroll
}

.pgr-citizen-wrapper-width-fixed{
  width:-webkit-fill-available !important;
  padding-left: 16px;
    padding-right: 16px;
    margin-top: 1rem;
}
.pgr-citizen-complaint-details-page{
 width:-webkit-fill-available !important; 
}

.Pgr-complaintList-error{
  text-align: center !important;
}

.Pgr-complaintList-noComplaints{
  text-align: center !important;
}
.PGR-Citizen-response-marginBottom{
  margin-bottom:10px !important;
}

.pgr-inbox-ComplaintCard-MarginTop{
margin-Top: 20 !important;
}

.pgr-inbox-ComplaintCard-TextAlign{
text-align: center !important;
}

.pgr-mandoatoryfields{
  color: red !important;
}
.pgr-moblieInbox-padding{
  padding: 0 !important;
}

.pgr-employeeInbox-search-app-form {
  margin-left: 24px !important;
}

.pgr-employeeInbox-search-app-container {
  width: auto !important;
}

.pgr-employeeInbox-search-app-input-container {
  display: grid !important;
}

.pgr-employeeInbox-search-app-complaint-textinput {
  margin-bottom: 8px !important;
}

.pgr-employeeInbox-search-app-submitbar {
  margin-top: 32px;
  margin-left: 16px;
  width: calc(100% - 16px);
}

.pgr-create-complaint-wrapper {
  input[name="mobileNumber"] {
    width: 100% !important;
    max-width: none !important;
  }
  
  .form-field .text-input {
    max-width: none !important;
    width: 100% !important;
  }
  
  .mobile-number-input-with-prefix {
    width: 100% !important;
    max-width: none !important;
  }
  
  .label-field-pair .form-field .text-input.desktop-w-full {
    max-width: none !important;
    width: 100% !important;
  }
}