.search-icon{
    position: relative;
    z-index: 100;
    right: 50px;
    margin-top: -55px;
    cursor: pointer;

    @media (min-width:780px) {
      right: 35px;
      margin-top: -24px;
      left:auto;
    }
}