.bpa-site-photograph-container {
  padding: 50px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bpa-site-photograph-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  align-items: center;
  margin-bottom: 20px;
}

.bpa-site-photograph-photo-wrapper {
  margin: 5px;
}

.bpa-site-photograph-photo {
  width: 120px;
  height: 120px;
  object-fit: fill;
  border-radius: 10%;
  cursor: pointer;
}